<div modal="configModal.open" ng-controller="configCtrl" 
		 close="configModal.open = false" 
     options="configModal.options">
	<div class="modal-header">
		<h4>Config</h4>
	</div>
	<div class="modal-body config-modal">
    <table class="full-width">
      <tr>
        <td>Port:</td>
        <td><input type="number" min="1000" class="no-margin input-mini" ng-model="config.port"></td>
      </tr>
    </table>
		<div class="error" ng-show="configModal.showError">{{configModal.error}}</div>
	</div>
	<div class="modal-footer">
		<a class="btn btn-default" ng-click="configModal.open = false">Cancel</a>
		<a class="btn btn-primary" ng-click="saveConfig(); configModal.hide()">Save</a>
	</div>
</div>
