	<div class="control-list">
		<div control-section class="control-section" ng-class="{disabled: !activeSession.currentShot.show}">
      <label>Opacity <span ng-show="activeSession.currentShot">{{activeSession.currentShot.screenOpacity | percent}}</span></label>
      <div>
        <input slider="activeSession.currentShot.setOpacity($value)" ng-disabled="!activeSession.currentShot.show || activeSession.currentShot.screenAnimate" 
          type="range" min="0" max="1" step="0.01" ng-value="activeSession.currentShot.screenOpacity" value="1"/>
        <div class="btn-group">
          <button class="btn btn-default btn-mini" type="button" ng-click="activeSession.currentShot.screenAnimate = false" ng-disabled="!activeSession.currentShot.show">
            <span class="fa fa-stop"></span>
          </button>
          <button class="btn btn-default btn-mini" type="button" ng-model="activeSession.currentShot.screenAnimate" 
                  btn-checkbox ng-disabled="!activeSession.currentShot.show">
            <span class="fa fa-play"></span>
          </button>
        </div>
        <div class="time-input mini-input input-prepend input-append">
          <span class="add-on">Time:</span>
          <input class="input-mini" ng-model="activeSession.currentShot.screenAnimateTime" type="number">
          <span class="add-on">s</span>
        </div>
      </div>
		</div>
		
		<div control-section class="control-section position" ng-class="{disabled: !activeSession.currentShot.show}">
      <label>Position <span ng-show="activeSession.currentShot">{{activeSession.currentShot.screenPosition.x}},{{activeSession.currentShot.screenPosition.y}}</span></label>
      <div>
        <div class="mini-input input-prepend">
          <span class="add-on">x</span>
          <input class="input-mini" ng-disabled="!activeSession.currentShot.show" type="number" ng-model="activeSession.currentShot.screenPosition.x">
        </div>
        <div class="mini-input input-prepend">
          <span class="add-on">y</span>
          <input class="input-mini"  ng-disabled="!activeSession.currentShot.show" type="number" ng-model="activeSession.currentShot.screenPosition.y">
        </div>
        <button class="btn btn-default btn-mini" ng-click="activeSession.currentShot.resetPosition()">
          <span class="fa fa-refresh"></span>
        </button>
      </div>
		</div>

		<div control-section class="control-section data-section">
      <label>Info</label>
      <div>
        <table class="table data-table table-condensed text-small">
          <tr>
            <td>Total Pixels</td>
            <td>{{activeSession.currentShot.data.totalPixels | number}}</td>
          </tr>
          <tr>
            <td>Same Pixels</td>
            <td>{{activeSession.currentShot.data.numberOfSamePixels | number}}</td>
          </tr>
          <tr>
            <td>Different Pixels</td>
            <td>{{activeSession.currentShot.data.numberOfDifferentPixels | number}}</td>
          </tr>
          <tr>
            <td>Difference Ratio</td>
            <td>{{activeSession.currentShot.data.differenceRatio | percent}}</td>
          </tr>
          <tr>
            <td>Height</td>
            <td>{{activeSession.currentShot.height | number}}px</td>
          </tr>
          <tr>
            <td>Width</td>
            <td>{{activeSession.currentShot.width | number}}px</td>
          </tr>
        </table>
      </div>
		</div>
	</div>
