<div modal="diffModal.open" ng-controller="differenceCtrl" 
		 close="diffModal.open = false" 
		 options="diffModal.options">
	<div class="modal-header">
		<h4>Perform Differences</h4>
	</div>
	<div class="modal-body">
		<h5>Select images you want to perform differences on.</h5>
		<table class="table table-condensed table-hover">
			<tr ng-repeat="shot in activeSession.shots" 
          ng-click="shot.selectedForDifference = !shot.selectedForDifference"
          ng-hide="shot.type == 'link'"
					ng-class="{success: shot.selectedForDifference}">

				<td><span class="fa fa-file"></span></td>
				<td>{{shot.displayURL}}</td>
			</tr>
		</table>
    <form class="">
      <table>
        <tr>
          <td><label for="mode">Mode:</label></td>
            <td>
              <select name="mode" ng-model="diffMode" id="">
              <option value="subtraction">Subtraction</option>
              <option value="heatmap">Heatmap</option>
              <option value="block">Block</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label class="checkbox inline">
              <input type="checkbox" ng-model="ignoreColors"> Ignore Colors 
            </label>
          </td>
        </tr>
        <tr>
          <td><label>Tolerance:</label></td>
          <td>
            <div class="input-prepend no-margin pull-left">
              <span class="add-on">r</span>
              <input type="number" class="input-mini" placeholder="red" max="255" min="0" name="red" ng-model="tolerance.red">
            </div>
            <div class="input-prepend no-margin pull-left">
              <span class="add-on">g</span>
              <input type="number" class="input-mini" placeholder="green" max="255" min="0" name="green" ng-model="tolerance.green">
            </div>
            <div class="input-prepend no-margin pull-left">
              <span class="add-on">b</span>
              <input type="number" class="input-mini" placeholder="blue" max="255" min="0" name="blue" ng-model="tolerance.blue">
            </div>
          </td>
      </tr>

    </table>
			
		</form>
		<div class="error" ng-show="diffModal.showError">{{diffModal.error}}</div>
	</div>
	<div class="modal-footer">
		<a class="btn btn-default" ng-click="diffModal.open = false">Cancel</a>
		<a class="btn btn-primary" ng-click="performDiff()">Perform</a>
	</div>
</div>
