<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<ul class="nav">
			<li class="dropdown">
				<a class="dropdown-toggle">
					File
				</a>
				<ul class="dropdown-menu">
					<li>
						<a ng-click="uploader.open = true">
							<span class="fa fa-upload"></span> Upload Images...
						</a>
					</li>
					<li>
						<a ng-click="diffModal.open = true">
							<span class="fa fa-adjust"></span> Perform Difference...
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle">
					Groups
				</a>
				<ul class="dropdown-menu">
					<li>
						<a><span class="fa fa-group"></span> New Group</a>
					</li>
					<li class="divider"></li>
					<li class="nav-header">Created Groups</li>
					<li ng-repeat="group in groups">
						<a ng-click="onPageChange(this)">
							<span class="fa fa-check" ng-show="group == activeGroup"></span>
							{{group.name}}
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle">
					View
				</a>
				<ul class="dropdown-menu">
					<li>
						<a ng-click="zoom.increase()" ><span class="fa fa-search-plus"></span> Zoom In</a>
					</li>
					<li>
						<a ng-click="zoom.decrease()"><span class="fa fa-search-minus"></span> Zoom Out</a>
					</li>
					<li>
						<a ng-click="zoom.reset()"><span class="fa fa-refresh"></span> Zoom Reset</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<!--- <div>
	<ul class="breadcrumb">
		<li>
			<a>{{activeGroup.source.displayURL}}</a>
			<span class="divider"><i class="icon-exchange"></i></span>
		</li>
		<li>
			<a>{{tabURL}}</a>
		</li>
	</ul>
</div> --->

<div ng-controller="groupCtrl" class="group-container">
	<div class="controls" 
			 ng-class="{'dock-left': dock.position == 'left', 
									'dock-right': dock.position == 'right',
									'fixed': dock.pinned,
									'hidden-left': dock.hidden && dock.position == 'left',
									'hidden-right': dock.hidden && dock.position == 'right'}">
		<ul class="nav nav-list shot-list">
			<li class="nav-header">Screen Shots ({{activeGroup.shots.length}})</li>
			<li ng-click="setCurrentTab(shot)" 
					 ng-repeat="shot in activeGroup.shots"
					 ng-class="{active: activeGroup.currentTab == shot.id}">
					 <a>
						<span class="fa" ng-click="shot.show = !shot.show" 
							 ng-class="{'fa-eye': shot.show, 'fa-eye-slash': !shot.show}"></span>
						<!--<span class="fa" ng-click="shot.showDifference = !shot.showDifference" 
							 ng-class="{'fa-check': shot.showDifference, 
													'fa-check-empty': !shot.showDifference,
													'fa-check-minus': shot.type == 'source' || shot.type == 'upload'}"></span>-->
						<div class="url-display">{{shot.displayURL}}</div>
						<span class="fa fa-trash-o" ng-click="removeShot(shot)"></span>
						<span class="fa font-red fa-youtube-play" ng-show="shot.screenAnimate || shot.differenceAnimate"></span>
					 </a>
			</li>
			<li class="nav-header">Differences ({{activeGroup.differences.length}})</li>
			<li ng-click="setCurrentTab(shot)" 
					ng-repeat="shot in activeGroup.differences"
					ng-class="{active: activeGroup.currentTab == shot.id}">
				<a>
					<span class="fa" ng-click="shot.show = !shot.show" 
						 ng-class="{'fa-eye': shot.show, 'fa-eye-slash': !shot.show}"></span>
					<div class="url-display">Difference {{$index + 1}}</div>
					<span class="fa font-red fa-youtube-play" ng-show="shot.screenAnimate || shot.differenceAnimate"></span>
					<span class="fa pull-right fa-trash-o" ng-click="removeGeneratedDifference()"></span>
				</a>
			</li>
		</ul>
		<div class="tab-controls">
			<div ng-controller="tabControlsCtrl" 
					ng-include src="'controls.html'">
			</div>
			<!--<div ng-controller="tabControlsCtrl" 
					 ng-repeat="shot in activeGroup.differences"
					 ng-include src="'controls.html'" 
					 ng-show="activeGroup.currentTab == shot.id">
				 </div> --->
		</div>
		<div class="btn-group position-controls">
			<button class="btn" type="button" ng-click="dock.position = 'left'">
				<span class="fa fa-arrow-left"></span>
			</button>
			<button class="btn" type="button" ng-click="dock.position = 'right'">
				<span class="fa fa-arrow-right"></span>
			</button>
			<button class="btn" ng-click="onScrollTop()">
				<span class="fa fa-long-arrow-up"></span>
			</button>
			<button class="btn" ng-click="onScrollBottom()">
				<span class="fa fa-long-arrow-down"></span>
			</button>
			<button class="btn" ng-click="$broadcast('centerElements')">
				<span class="fa fa-align-center"></span>
			</button>
			<button class="btn" type="button" ng-model="dock.pinned" btn-checkbox>
				<span class="fa fa-thumb-tack"></span>
			</button>
		</div>
		<div class="expand-tab" ng-click="dock.hidden = !dock.hidden">
			<span class="fa" ng-class="{'fa-chevron-left': (dock.position == 'right' && dock.hidden)
									|| (dock.position == 'left' && !dock.hidden),
										'fa-chevron-right': (dock.position == 'left' && dock.hidden)
									|| (dock.position == 'right' && !dock.hidden)}"></span>
		</div>
	</div>
	
	<div ng-repeat="shot in activeGroup.shots" center class="shot-container" 
			 zoom="zoom.level"
			 ng-class="{'active-tab': activeGroup.currentTab == shot.id, 'opacity-hide': !shot.show}">
		<canvas image-canvas class="screen-shot" animate-opacity="shot.screenAnimate" 
				 animate-time="shot.screenAnimateTime" 
				 src="shot.screen.path"
				 ng-style="{opacity: shot.screenOpacity, 
										top: shot.screenPosition.y + 'px', 
										left: shot.screenPosition.x + 'px'}"></canvas>
		<!--<div class="difference-shot" ng-hide="shot.type == 'upload'" ng-style="{opacity: shot.differenceOpacity}">
			<img class="screen-shot" animate-opacity="shot.differenceAnimate" 
				 animate-time="shot.differenceAnimateTime"
				 ng-src="{{shot.diff.path}}" ng-show="shot.showDifference"
				 ng-style="{top: shot.differencePosition.y + 'px', 
										left: shot.differencePosition.x + 'px'}">
									</div>-->
	</div>
	<div ng-repeat="shot in activeGroup.differences"
			 class="shot-container" center
			 zoom="zoom.level"
			 ng-class="{'active-tab': activeGroup.currentTab == shot.id, 'opacity-hide': !shot.show}">
		<canvas class="screen-shot" buffer-canvas buffers="shot.buffers" 
						pixel-width="shot.width" pixel-height="shot.height" 
						animate-opacity="shot.screenAnimate" 
						animate-time="shot.screenAnimateTime"
						ng-style="{opacity: shot.screenOpacity, 
											 top: shot.screenPosition.y + 'px', 
											 left: shot.screenPosition.x + 'px'}"></canvas>>
		</canvas>
	</div>
</div>

<!-- Difference Modal -->

<div modal="diffModal.open" ng-controller="differenceCtrl" 
		 close="diffModal.open = false" 
		 options="diffModal.options">
	<div class="modal-header">
		<h4>Perform Differences</h4>
	</div>
	<div class="modal-body">
		<h5>Select images you want to perform differences on.</h5>
		<table class="table table-condensed table-hover">
			<tr ng-repeat="shot in activeGroup.shots" 
					ng-click="shot.selectedForDifference = !shot.selectedForDifference"
					ng-class="{success: shot.selectedForDifference}">

				<td><span class="fa fa-file"></span></td>
				<td>{{shot.displayURL}}</td>
			</tr>
		</table>
		<form class="">
			<label for="mode">Mode:</label>
			<select name="mode" ng-model="diffMode" id="">
				<option value="subtraction">Subtraction</option>
				<option value="heatmap">Heatmap</option>
				<option value="block">Block</option>
			</select>
			<label for="threshold">Threshold:</label>
			<input type="number" max="255" min="0" name="threshold" ng-model="diffThreshold">
			
		</form>
		<div class="error" ng-show="diffModal.showError">{{diffModal.error}}</div>
	</div>
	<div class="modal-footer">
		<a class="btn" ng-click="diffModal.open = false">Cancel</a>
		<a class="btn btn-primary" ng-click="performDiff()">Perform</a>
	</div>
</div>

<!-- File Upload modal -->

<div modal="uploader.open" ng-controller="uploaderCtrl"
		 close="uploader.open = false" options="uploader.options">
	<div class="modal-header">
		<h4>Upload Images</h4>
	</div>
	<div class="modal-body">
		<h5>Select image files you want to upload.</h5>
		<table class="table table-condensed table-hover">
			<tr ng-repeat="file in uploadedFiles">
				<td><span class="fa fa-file"></span></td>
				<td>{{file.name}}</td>
			</tr>
		</table>
		<form>
			<input file-upload="onFileSelect($files)" name="files[]" type="file" multiple upload>
		</form>
	</div>
	<div class="modal-footer">
		<a class="btn" ng-click="uploader.open = false">Cancel</a>
		<a class="btn btn-primary" ng-click="upload()">Upload</a>
	</div>
</div>

<!-- Alerts -->

<div class="alerts fixed" ng-class="{'dock-left': dock.position == 'right'}">
	<alert ng-repeat="alert in alerts" type="alert.type" close="removeAlert(alert._id)">
		<span class="fa-spin fa fa-spinner" ng-show="alert.loading"></span> {{alert.msg}}
		<div ng-show="alert.progress">
			<progress percent="alert.progressPercent" class=""></progress>
		</div>
	</alert>
</div>


<script type="text/ng-template" id="controls.html">
	<div class="control-list">
		<div class="control-section" ng-class="{disabled: !activeGroup.currentShot.show}">
			<label>Opacity</label>
			<input slider="onOpacityChange(shot.id, $value)" ng-disabled="!activeGroup.currentShot.show || activeGroup.currentShot.screenAnimate" 
				type="range" min="0" max="1" step="0.01" ng-value="activeGroup.currentShot.screenOpacity" value="1"/>
			<div class="btn-group">
				<button class="btn btn-mini" type="button" ng-click="activeGroup.currentShot.screenAnimate = false" ng-disabled="!activeGroup.currentShot.show">
					<span class="fa fa-stop"></span>
				</button>
				<button class="btn btn-mini" type="button" ng-model="activeGroup.currentShot.screenAnimate" 
								ng-change="onScreenAnimate()" btn-checkbox ng-disabled="!activeGroup.currentShot.show">
					<span class="fa fa-play"></span>
				</button>
			</div>
			<div class="time-input mini-input input-prepend input-append">
				<span class="add-on">Time:</span>
				<input class="input-mini" ng-model="activeGroup.currentShot.screenAnimateTime" type="number">
				<span class="add-on">s</span>
			</div>
		</div>
		
		<div class="control-section position" ng-class="{disabled: !activeGroup.currentShot.show}">
			<label>Position</label>
			<div class="mini-input input-prepend">
				<span class="add-on">x</span>
				<input class="input-mini" ng-disabled="!activeGroup.currentShot.show" type="number" ng-model="activeGroup.currentShot.screenPosition.x">
			</div>
			<div class="mini-input input-prepend">
				<span class="add-on">y</span>
				<input class="input-mini"  ng-disabled="!activeGroup.currentShot.show" type="number" ng-model="activeGroup.currentShot.screenPosition.y">
			</div>
			<button class="btn btn-mini" ng-click="resetPosition(activeGroup.currentShot.screenPosition)">
				<span class="fa fa-refresh"></span>
			</button>
		</div>

		<div class="control-section" ng-show="shot.type != 'source' && shot.type != 'upload'">
			<label>Info</label>
			<table class="table table-condensed">
				<tr>
					<td>Total Pixels</td>
					<td>{{shot.data.totalPixels | number}}</td>
				</tr>
				<tr>
					<td>Same Pixels</td>
					<td>{{shot.data.numberOfSamePixels | number}}</td>
				</tr>
				<tr>
					<td>Different Pixels</td>
					<td>{{shot.data.numberOfDifferentPixels | number}}</td>
				</tr>
				<tr>
					<td>Difference Ratio</td>
					<td>{{shot.data.differenceRatio | percent}}</td>
				</tr>
			</table>
		</div>
	</div>
</script>

