<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<a class="brand">pDiff v0.0.1</a>
		<ul class="nav">
			<li class="dropdown">
				<a class="dropdown-toggle">
					File
				</a>
				<ul class="dropdown-menu">
					<li>
						<a ng-click="uploader.show()">
							<table>
								<tr>
									<td><span class="fa fa-upload"></span> Upload Images...</td>
									<td class="shortcut">Ctrl+u</td>
								</tr>
							</table>
						</a>
					</li>
					<li>
						<a ng-click="diffModal.show()">
							<table>
								<tr>
									<td><span class="fa fa-adjust"></span> Perform Difference...</td>
									<td class="shortcut">Ctrl+d</td>
								</tr>
							</table>
						</a>
					</li>
					<li>
						<a ng-click="screenShotModal.show()">
							<table>
								<tr>
									<td><span class="fa fa-camera"></span> Take Screenshot...</td>
									<td class="shortcut">Ctrl+s</td>
								</tr>
							</table>
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a ng-click="configModal.show()">
							<table>
								<tr>
									<td>Configuration</td>
									<td class="shortcut">Ctrl+Shirt+c</td>
								</tr>
							</table>
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle">
					Session
				</a>
				<ul class="dropdown-menu">
					<li>
						<a ng-click="groupModal.show()">
							<table>
								<tr>
									<td><span class="fa fa-group"></span> New Session</td>
									<td class="shortcut">Ctrl+g</td>
								</tr>
							</table>
						</a>
					</li>
					<li>
						<a ng-click="importer.show()">
							<table>
								<tr>
									<td><span class="fa fa-upload"></span> Import...</td>
									<td class="shortcut">Ctrl+i</td>
								</tr>
							</table>
						</a>
					</li>
					<li>
						<a ng-click="activeSession.export()">
							<table>
								<tr>
									<td><span class="fa fa-download"></span> Export...</td>
									<td class="shortcut">Ctrl+e</td>
								</tr>
							</table>
						</a>
					</li>
					<li class="divider"></li>
					<li class="nav-header">Created Sessions</li>
					<li ng-repeat="session in sessions">
						<a ng-click="changeSession(session)">
							<span class="fa fa-check" ng-show="session == activeSession"></span>
							{{session.name}}
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle">
					View
				</a>
				<ul class="dropdown-menu">
					<li>
						<a ng-click="activeSession.viewport.zoom.increase()" >
							<table>
								<tr>
									<td><span class="fa fa-search-plus"></span> Zoom In</td>
									<td class="shortcut">Ctrl+=</td>
								</tr>
							</table>
						</a>
					</li>
					<li>
						<a ng-click="activeSession.viewport.zoom.decrease()">
							<table>
								<tr>
									<td><span class="fa fa-search-minus"></span> Zoom Out</td>
									<td class="shortcut">Ctrl+-</td>
								</tr>
							</table>
						</a>
					</li>
					<li>
						<a ng-click="activeSession.viewport.center()" >
							<table>
								<tr>
									<td><span class="fa fa-align-center"></span> Center Content</td>
									<td class="shortcut">Ctrl+f</td>
								</tr>
							</table>
						</a>
					</li>
					<li>
						<a ng-click="activeSession.viewport.zoom.reset()"><span class="fa fa-refresh"></span> Zoom Reset</a>
					</li>
					<li class="divider"></li>
					<li class="dropdown-submenu">
						<a>Controls</a>
						<ul class="dropdown-menu">
							<li>
								<a ng-click="dock.hidden = !dock.hidden">
									<table>
										<tr>
											<td><span ng-show="dock.hidden" class="fa fa-check"></span> Hide</td>
											<td class="shortcut">Ctrl+Shift+d</td>
										</tr>
									</table>
								</a>
							</li>
							<li>
								<a ng-click="dock.pinned = !dock.pinned">
									<table>
										<tr>
											<td><span ng-show="dock.pinned" class="fa fa-check"></span> Pin</td>
											<td class="shortcut">Ctrl+Shift+p</td>
										</tr>
									</table>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
